/*Обнуление*/
*{padding:0; margin:0; border:0;}
*,*:before, *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus, :active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button:-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul,li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*-------------------------------------------------------*/



body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

p {
	font-size: 16px;
}

span {
	color: green;
}

a {
	text-decoration: none;
	color: #626262;
}

a:hover {
	color: #327430;
}

/**/



/*-----------------------MENU------------------------*/

/*.menu {
	position: relative;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.menu-item {
	position: absolute;
	width: 24px;
	margin: 5px 0;
	background-color: #000;
	height: 3px;
	transition: 0.2s
}

.menu-item:nth-child(1) {
	top: -6px;
}

.menu-item:nth-child(2) {
	transition: 0.1s
}

.menu-item:nth-child(3) {
	top: 6px;
}

.menu:hover .menu-item:nth-child(2) {
	opacity: 0;
}

.menu:hover .menu-item:nth-child(1) {
	top: 0px;
	transform: rotate(45deg);
}
.menu:hover .menu-item:nth-child(3) {
	top: 0px;
	transform: rotate(-45deg);
}*/

/*---------------------------------HEADER---------------------------*/

.header {
	padding: 16px 0;
	box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
	margin-bottom: 56px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__items {
	display: flex;
	align-items: center;
}

.header__sign-in-container {
	margin-right: 27px;
	font-weight: 500;
}

.header__sign-in {
	font-size: 13px;
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding: 11.5px 20px;
	border:1px solid #E0E0E0;
	transition: 0.3s
}

.header__sign-in:hover {
	transform: scale(1.1);
}

.header__cart {
	transition: 0.3s
}

.header__cart:hover {
	transform: scale(1.3);
}

/*------------------------------FOOD------------------------------*/

.food-search-container {
	margin-bottom: 56px;
}

.food-search {
	font-size: 16px;
	padding: 2px;
	width: 100%;
	color: #626262;
	border-bottom: 1px solid #757575;
	opacity: 0.3;
}

.food-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	margin-bottom: 100px;
}

.food-item {
	width: calc(100% / 3);
	padding: 0 6px;
	margin-bottom: 25px;
	transition: 0.3s;
	/*padding-right: 10px*/
}

/*.food-item:nth-child(3n) {
	padding-right: 0;
}*/
.food-item__wrapper{
	transition: 0.3s;
	
}

.food-item__wrapper:hover{
	background-color: #e8e8e8;

}

.food-item__image-container{
	position: relative;
	padding-bottom: 70%;
	margin-bottom: 16px;
	overflow: hidden;
}

.food-item__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s;
}

.food-item__image:hover{
	transform: scale(1.1);
}

.food-item__title {
	color: #000;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
}

.food-item__category {
	font-size: 14px;
	line-height: 20px;
	color: #626262;
	margin-bottom: 4px;
}
.food-item__time {
	font-size: 13px;
	line-height: 20px;
	color: #1D1D1D;
}

.food__title {
	font-size: 22px;
	color: #1d1d1d;
	margin-bottom: 16px;
}

/*---------------------------------FOOTER--------------------------*/

.footer {
	width: 100%;
	margin-top: 100px;
	background:#262626;
}

.footer__logo{
	padding: 50px 0;
}

.footer__line {
	width: 100%;
	height: 1px;
	border: 1px solid #FFFFFF;
	opacity: 0.4;
}

.footer-nav {
	display: flex;
	flex-wrap: wrap;
	padding-top: 35px;
	padding-bottom: 35px;
}

.footer-group {
	display: flex;
	justify-content: space-around;
	flex-grow: 1;
}

.footer-row__elements {
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}

.footer-social__uber {
	padding-top: 30px;
	color: #fff;
}

.footer-social__icons {
	padding-top: 20px;
}

.footer-row__title {
	display: flex;
	flex-direction: column;
	line-height: 35px;
}

.footer-row__text {
	color: #fff;
}

.footer__market {
	display: flex;
	justify-content: center;
	padding: 40px  0 40px 0;
}

.markets {
	padding: 0 10px;
	transition: 0.3s;
}

.markets:hover {
	transform: scale(1.1);
}

.footer-end {
	display: flex;
	justify-content: center;
}

.ending {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	padding: 40px 0 40px 0;
}

/*-----------------------SELECT------------------------*/
option {
	font-size: 16px;
}

.select-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 227px;
	height: 40px;
	background-color: #3b3b3b;
}

.select-container select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	color: #fff;
}

.select-container p {
	text-align: center;
	font-size: 12px;
	color: #fff;
}

/*---------------------SCROLL-UP----------------------*/

.scroll-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	/*padding: 10px;*/
	/*background: #fff;*/
	transition: 0.5s;
}

.scroll-up.hide {
	opacity: 0
}

.scroll-up__icon {
	width: 80px;
	height: 80px;
}

/*----------------------------------MEDIA--------------------------------*/

@media (max-width: 767px ){

	.food-item{
		width: calc(100% / 2);
	}

	.footer-row {
		width: 100%;
	}

	.footer-group {
		flex-direction: column;
	}

	.footer-social {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-row__text {
		text-align: center;
	}

	.footer-row__elements {
		text-align: center;
		margin-bottom: 20px;
	}

}

@media (max-width: 425px){

	.food-item {
		width: 100%;
	}

	.footer-row {
	width: 100%;
	}

	.footer-group {
		flex-direction: column;
	}

	.footer-social {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-row__text {
		text-align: center;
	}

	.footer-row__elements {
		text-align: center;
		margin-bottom: 20px;
	}
}

@media (max-width: 576px) {
	.catalog-container {
		margin: 0;
	}

	.catalog-row {
		width: 100%;
		margin: 32px 0 10px 0;
	}

	.scroll-up {
		bottom: 10px;
		right: 10px;
	}

	.scroll-up__icon {
	width: 50px;
	height: 50px;
	}
}

